<div id="lists">

	<div class="list">

		<h3>A faire</h3>
		
		<div class="task">
			<ul class="labels">
				<li class="label-1"></li>
				<li class="label-2"></li>
			</ul><!-- .labels -->
			<p><a href="" ng-click="sidebar = 'details'">Changer les pneus de la BX<em>Modifiée le 22 jan 2014</em></a></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-1-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<div class="task">
			<ul class="labels">
				<li class="label-3"></li>
			</ul><!-- .labels -->
			<p><a href="" ng-click="sidebar = 'comments'">Poncer le béquet arrière<em>Modifiée le 22 jan 2014</em></a></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<div class="task">
			<ul class="labels">
				<li class="label-4"></li>
				<li class="label-5"></li>
			</ul><!-- .labels -->
			<p><a href="" ng-click="sidebar = 'attachments'">Dompter les 500ch de la BX<em>Modifiée le 22 jan 2014</em></a></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<form class="add_task">
			<fieldset>
				<input type="text" name="task_name" id="task_name" placeholder="Nom de votre tâche..." />
				<ul class="members">
					<li><img src="/img/uploads/members/member-1-s.jpg" alt="Guillaume" /></li>
				</ul><!-- .members -->
			</fieldset>
			<fieldset class="buttons">
				<button type="reset" name="cancel"><img src="/img/buttons/task_cancel.png" alt="Cancel" /></button>
				<button type="submit" name="add_task"><img src="/img/buttons/task_add.png" alt="Add task" /></button>
			</fieldset>
		</form>
		
	</div><!-- .list -->
	
	<div class="list">

		<h3>En cours</h3>
		
		<div class="task">
			<ul class="labels">
				<li class="label-4"></li>
				<li class="label-5"></li>
			</ul><!-- .labels -->
			<p>Faire un double des clés<em>Modifiée le 22 jan 2014</em></p>
			<p class="percent">50%<span><span class="p-50"></span></span></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-1-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<div class="task">
			<ul class="labels">
				<li class="label-4"></li>
			</ul><!-- .labels -->
			<p class="photos">
				<img src="/img/uploads/photos/xantia_01.jpg" alt="Photo of my Xantia" />
				<img src="/img/uploads/photos/xantia_02.jpg" alt="Photo of my Xantia" />
				<img src="/img/uploads/photos/xantia_03.jpg" alt="Photo of my Xantia" />
			</p>
			<p><a href="" ng-click="sidebar = 'details'">Réparer la portière de la Xantia<em>Modifiée le 22 jan 2014</em></a></p>
			<p class="percent">70%<span><span class="p-70"></span></span></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-1-s.jpg" alt="Guillaume" /></li>
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Hervé" /></li>
				<li><img src="/img/uploads/members/member-3-s.jpg" alt="Freddy" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<div class="task">
			<p><a href="" ng-click="sidebar = 'subtasks'">Changer les plaquettes de freins<em>Modifiée le 22 jan 2014</em></a></p>
			<p class="percent">20%<span><span class="p-20"></span></span></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Hervé" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<div class="task">
			<p class="photos">
				<img src="/img/uploads/photos/photo_k7.jpg" alt="Photo of my Xantia" />
			</p>
			<p>Claquer un bel autoradio K7<em>Modifiée le 22 jan 2014</em></p>
			<p class="percent">20%<span><span class="p-20"></span></span></p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Hervé" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->
		
		<form class="add_task">
			<fieldset class="buttons">
				<button type="submit" name="new_task"><img src="/img/buttons/task_new.png" alt="New task" /></button>
			</fieldset>
		</form>
		 
	</div><!-- .list -->
	
	<div class="list">
	
		<h3>Fait</h3>

		<div class="task">
			<ul class="labels">
				<li class="label-1"></li>
				<li class="label-2"></li>
			</ul><!-- .labels -->
			<p>Acheter la BX<em>Modifiée le 22 jan 2014</em></p>
			<p class="done">Terminé</p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-1-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->

		<div class="task">
			<ul class="labels">
				<li class="label-1"></li>
			</ul><!-- .labels -->
			<p>Passer le permis<em>Modifiée le 22 jan 2014</em></p>
			<p class="done">Terminé</p>
			<ul class="members">
				<li><img src="/img/uploads/members/member-2-s.jpg" alt="Guillaume" /></li>
			</ul><!-- .members -->
			<ul class="meta">
				<li class="attachments">2</li>
				<li class="comments">5</li>
			</ul><!-- .meta -->
		</div><!-- .task -->

		<form class="add_task">
			<fieldset class="buttons">
				<button type="submit" name="new_task"><img src="/img/buttons/task_new.png" alt="New task" /></button>
			</fieldset>
		</form>
		 
	</div><!-- .list -->
	
	<form class="add_list">
		<fieldset class="buttons">
			<button type="submit" name="new_list"><img src="/img/buttons/list_new.png" alt="New list" /></button>
		</fieldset>
	</form>

</div><!-- #lists -->

<!-- right sidebar -->
<ng-switch on="sidebar">
	<div ng-switch-when="details">
		<ng-include src="'views/right-panel-details.html'"/></ng-include>
	</div>
	<div ng-switch-when="subtasks">
		<ng-include src="'views/right-panel-subtasks.html'"/></ng-include>
	</div>
	<div ng-switch-when="attachments">
		<ng-include src="'views/right-panel-attachments.html'"/></ng-include>
	</div>
	<div ng-switch-when="comments">
		<ng-include src="'views/right-panel-comments.html'"/></ng-include>
	</div>
</ng-switch>

