<div id="lists" >

  <ul class="list" ng-repeat="list in board.lists" ng-controller="KanbanListCtrl" ui-sortable="columnSortableOptions" ng-model="list.cards">
  
    <button ng-click="showListActions=!showListActions" class="list-edit"><img src="./img/buttons/list_edit.png" alt="Edit" /></button>

    <!-- List Menu -->
    <div class="menu" ng-show="showListActions">
      <ul>
  	<li><button ng-click="deleteList()">Supprimer la liste</button></li>
  	<!-- <li class="submenu"><a href="">Déplacer vers</a></li> -->
  	<!-- <li><a href="">Copier la liste</a></li> -->
  	<!-- <li><a href="">Archiver la liste</a></li> -->
      </ul>
    </div>
    
    <h3 editable-text="list.title" onaftersave="updateList()">{{ list.title || "Sans nom" }}</h3>

    <ul ng-repeat="card in list.cards | filter:searchForm.term | filter:filterWithLabels | filter:filterWithUsers">
      <li>
	<kanban-card board="board" card="card"></kanban-card>
      </li>
    </ul>


    <form class="add_task">
      <fieldset ng-show="showAddTask">
	<input type="text" ng-model="newCardForm.title" id="task_name" placeholder="Nom de votre tâche..." required/>
	<ul class="members">
	  <li>
	    <img ng-if="!user.mugshot" ng-src="http://sigil.cupcake.io/{{ authVars.user.username }}.png" alt="{{ user.username }}" />
	    <img ng-if="user.mugshot" ng-src="{{ user.mugshot }}" alt="{{ authVars.user.username }}" />
	  </li>
	</ul><!-- .members -->
      </fieldset>

      <fieldset ng-show="showAddTask" class="buttons">
	<button type="button" ng-click="showAddTask = false" name="cancel"><img src="./img/buttons/task_cancel.png" alt="Cancel" /></button>
	<button ng-click="newCardSubmit()" type="submit" name="add_task"><img src="./img/buttons/save.png" alt="Add task" /></button>
      </fieldset> 

      <fieldset ng-show="!showAddTask" class="buttons">
	<button ng-click="showAddTask = true" type="button" name="new_task"><img src="./img/buttons/task_new.png" alt="New task" /></button>
      </fieldset>

    </form> <!-- .add_task -->
  </ul><!-- .list -->

  <!-- new list --->
  <form class="add_list">
    <fieldset class="buttons">
      <button ng-click="createList()" name="new_list"><img src="./img/buttons/list_new.png" alt="New list" /></button>
    </fieldset>
  </form>
  
  <!-- FIXME Template for the Members submenu -->
  <div class="members-submenu">
  	<img src="./img/members_submenu.png" class="submenu" alt="" />
	  <div class="menu m-members-list">
		<ul>
			<li><button><img src="./img/uploads/members/member-1-s.jpg" alt="Member 1" /> Dave Grohl</button></li>
			<li><button class="selected"><img src="./img/uploads/members/member-2-s.jpg" alt="Member 2" /> Flop Boar</button></li>
			<li><button><img src="./img/uploads/members/member-3-s.jpg" alt="Member 3" /> Topo Nizio</button></li>
		</ul>
	  </div>
  </div>
  <br />

  <br />

</div><!-- #lists -->

<div ui-view></div>

