<div id="left-panel" class="filters">
  <h2><button ng-click="leftPanel.tab = ''"><img src="/img/close_25x25.png" alt="Close" /></button></a>Filtres</h2>
  <form method="post" action="">
    <fieldset>
      <legend>Par Mots clés</legend>
      <input type="text" ng-model="searchForm.term" placeholder="Entrez votre mot clé..." class="search" />
    </fieldset>
    <fieldset>
      <legend>Par Labels</legend>
      <ul class="labels">
	<li ng-repeat="tag in board.tags"><a href="" class="label label-1 selected">Label 1</a></li> <!-- FIXME -->
      </ul>
      <!--
	  <button name="label-1" class="label label-1 selected">Label 1</button>
	  <button name="label-2" class="label label-2">Label 2</button>
	  <button name="label-3" class="label label-3 selected">Label 3</button>
	  <button name="label-4" class="label label-4">Label 4</button>
	  <button name="label-5" class="label label-5">Label 5</button>
	  <button name="label-6" class="label label-6">Label 6</button>
	  -->
    </fieldset>
    <fieldset>
      <legend>Par Membre</legend>
      <ul>
	<li ng-repeat="user in board.members" class="selected">
	  <img ng-show="user.mugshot" ng-src="{{ user.mugshot }}" alt="{{ user.username }}" />
	  <img ng-show="!user.mugshot" ng-src="http://sigil.cupcake.io/{{ user.username }}.png?w=24" alt="{{ user.username }}" />{{ user.first_name || user.username }}
	</li>

      </ul>
    </fieldset>
    <fieldset>
      <legend>Date de...</legend>
      <ul class="date">
	<li class="selected">La semaine dernière</li>
	<li>Du mois dernier</li>
      </ul>
    </fieldset>
  </form>
</div>
