<div id="left-panel" class="boards">
	<h2><a href=""><img src="/img/close_25x25.png" alt="Close" /></a>Mes tableaux</h2>
	<form method="post" action="">
		<fieldset class="naked">
			<button class="primary" name="board-add">Nouveau Tableau</button>
		</fieldset>
		<fieldset>
			<legend>Vos tableaux récents</legend>
			<ul class="boards">
				<li class="active"><a href=""><img src="/img/uploads/boards/boards-bx.png" alt="Réunion des grands sages" />Travaux Citroën</a></li>
				<li><a href=""><img src="/img/uploads/boards/boards-test.png" alt="Réunion des grands sages" />Préparations meeting</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Vos tableaux</legend>
			<ul class="boards">
				<li><a href=""><img src="/img/board-logo.png" alt="Réunion des grands sages" />Réunion des grands sages</a></li>
				<li><a href=""><img src="/img/uploads/boards/boards-peniche.png" alt="Réunion des grands sages" />Construction de la Péniche</a></li>
				<li><a href=""><img src="/img/uploads/boards/boards-test.png" alt="Réunion des grands sages" />Vacances au snow</a></li>
				<li><a href=""><img src="/img/uploads/boards/boards-bx.png" alt="Réunion des grands sages" />Travaux Citroën</a></li>
				<li><a href=""><img src="/img/uploads/boards/boards-test.png" alt="Réunion des grands sages" />Préparations meeting</a></li>
			</ul>
		</fieldset>
	</form>
</div><!-- #left-panel -->
