<div id="left-panel" class="settings">
  <h2><button ng-click="leftPanel.tab = ''"><img src="img/close_25x25.png" alt="Close" /></button>Préférences</h2>
  <form method="post" action="">
    <fieldset>
      <legend>Renommer le tableau</legend>
      <input type="text" ng-model="board.title" name="board-name" />
    </fieldset>
    <!--
    <fieldset>
      <legend>Changer le fond d'écran</legend>
      <ul>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
	<li><a href=""><img src="/img/uploads/backgrounds/background1.png" alt="Background image" /></a></li>
      </ul>
      <button name="upload-background">Charger votre fond</button>
    </fieldset>
    -->
    <fieldset class="labels">
      <legend>Renommer vos labels</legend>
      <div ng-repeat="label in board.labels">
	<label for="label-{{ $index }}" class="label-{{ $index }}">{{ label.label }}</label>
	<input type="text" ng-model="label.label" name="label-{{ $index }}" id="label-{{ $index }}" value="{{ label.label }}" />
      </div>
    </fieldset>
    <button ng-click="updateBoard()" name="save" class="submit primary">Sauvegarder <img src="img/submit.png" alt="Sauvegarder" /></button>
  </form>
</div><!-- #left-panel -->
