<div id="left-panel" class="search">
  <h2><a href=""><img src="/img/close_25x25.png" alt="Close" /></a>Rechercher</h2>
  <form method="post" action="">
    <fieldset>
      <input type="text" name="searchterm" placeholder="Entrez votre recherche..." class="search" />
      <input type="image" src="/img/topbar/search_ico.png" name="search" />
    </fieldset>
  </form>
  <h3>Vos dernières recherches</h3>
  <ul>
    <li><a href="">Fichier1.pdf</a></li>
    <li><a href="">Document2.pdf</a></li>
    <li><a href="">Image3.jpg</a></li>
    <li><a href="">Video4.mov</a></li>
    <li><a href="">Titre long pour un fich...</a></li>
    <li><a href="">Doc.pdf</a></li>
    <li><a href="">Img2_salon.jpg</a></li>
    <li><a href="">Test.zip</a></li>
  </ul>
</div><!-- #left-panel -->
