<div class="subtasks">
  <h2>Sous-tâches</h2>
  
  <button class="primary">Ajouter une sous-tâche</button>
  
  <hr />
  <form>
    <fieldset>
      <input type="text" ng-model="newTaskForm.title" name="subtask-title" placeholder="Titre de la sous-tâche" />
      <button class="member-add"><img src="/img/buttons/member_add.png" alt="Add member" /></button>
      <p class="percent">
      	<progress value="50" max="100"></progress>
	<button>50%</button>
      </div>
    </fieldset>
    <fieldset>
      <button type="reset" name="cancel"><img src="/img/buttons/close_large.png" alt="Cancel" /></button>
      <button ng-click="submitNewTask()" name="add_task"><img src="/img/buttons/save.png" alt="Add task" /></button>
    </fieldset>
  </form>
  <hr />
  
  <form method="post" action="" ng-repeat="task in card.tasks">
    <fieldset>
      <p>{{ task.title }}</p>
      <p>Modifié le FIXME</p>
      <p class="percent">70%<progress value="70" max="100"></progress></p>
    </fieldset>
    <fieldset>
      <ul class="members">
	<li><img src="/img/uploads/members/member-1-l.jpg" alt="Guillaume" /></li>
	<li><button><img src="/img/buttons/member_add.png" alt="Add member" /></button></li>
      </ul>
      <button type="reset" name="cancel"><img src="/img/buttons/close_large.png" alt="Cancel" /></button>
      <button type="submit" name="add_task"><img src="/img/buttons/save.png" alt="Add task" /></button>
    </fieldset>
  </form>
  
</div><!-- #right-panel -->
