<div id="taskmenu">
  <ul>
    <li ui-sref-active="selected" class="details"><button ui-sref="kanban.card.detail"><img src="/img/toolbar/details_ico.png" alt="Détails" /></button></li>
    <li ui-sref-active="selected" class="subtasks"><button ui-sref="kanban.card.tasks"><img src="/img/toolbar/subtasks_ico.png" alt="Sous-tâches" /></button></li>
    <li ui-sref-active="selected" class="attachments"><button ui-sref="kanban.card.attachments"><img src="/img/toolbar/attachments_ico.png" alt="Fichiers attachés" /></button></li>
    <li ui-sref-active="selected" class="comments"><button ui-sref="kanban.card.comments"><img src="/img/toolbar/comments_ico.png" alt="Commentaires" /></button></li>
    <li class="close"><button ui-sref="kanban(board.id)"><img src="/img/toolbar/close_26x26.png" alt="Close" /></button></li>
  </ul>
</div><!-- #taskmenu -->
