<div id="taskmenu">
	<ul>
		<li class="details selected"><button ng-click="sidebar = 'details'"><img src="/img/toolbar/details_ico.png" alt="Détails" /></button></li>
		<li class="subtasks"><button ng-click="sidebar = 'subtasks'"><img src="/img/toolbar/subtasks_ico.png" alt="Sous-tâches" /></button></li>
		<li class="attachments"><button ng-click="sidebar = 'attachments'"><img src="/img/toolbar/attachments_ico.png" alt="Fichiers attachés" /></a></li>
		<li class="comments"><button ng-click="sidebar = 'comments'"><img src="/img/toolbar/comments-12_ico.png" alt="Commentaires" /></button></li>
		<li class="close"><button><img src="/img/toolbar/close_26x26.png" alt="Close" /></button></li>
	</ul>
</div><!-- #taskmenu -->
