<div class="comments" ng-controller="KanbanCardCommentCtrl">
  <h2>Commentaires</h2>
  
  <ul class="comments">
    <li ng-repeat="comment in card.comments">
      <img ng-show="comment.user.mugshot" ng-src="{{ comment.user.mugshot }}" alt="{{ comment.user.username }}" />
      <img ng-show="!comment.user.mugshot" ng-src="http://sigil.cupcake.io/{{ comment.user.username }}.png?w=48" alt="{{ comment.user.username }}"/>
      <strong>{{ comment.user.username }} - </strong> {{ comment.text }}<em>{{ comment.date | date }}</em>
    </li>
  </ul>
  
  <form>
    <input type="text" ng-model="newcommentForm.text" name="comment" placeholder="Ajouter un commentaire" required/>
    <button ng-click="submitNewComment()" name="send">Envoyer</button>
  </form>

</div><!-- #right-panel -->
