<div id="right-panel" class="attachments">
	<ng-include src="'views/right-panel-menu.html'"></ng-include>
	<h2>Fichiers attachés</h2>

	<h5>Images</h5>
	<ul class="photos">
		<li><img src="/img/uploads/photos/photo_01.jpg" alt="Photo" /></li>
		<li><img src="/img/uploads/photos/photo_02.jpg" alt="Photo" /></li>
		<li><img src="/img/uploads/photos/photo_03.jpg" alt="Photo" /></li>
	</ul><!-- .photos -->
	
	<h5>Autres documents</h5>
	<ul class="files">
		<li class="filetype-pdf"><a href="">Fichier1.pdf</a></li>
		<li class="filetype-doc"><a href="">Document2.doc</a></li>
		<li class="filetype-jpg"><a href="">Image31.jpg</a></li>
		<li class="filetype-mov"><button>Delete</button><button>More</button><a href="">Video.mov</a></li>
		<li class="filetype-doc"><a href="">Titre long pour un fichier...</a></li>
		<li class="filetype-pdf"><a href="">doc.pdf</a></li>
		<li class="filetype-jpg"><a href="">img2_salon.jpg</a></li>
		<li class="filetype-doc"><a href="">Test.zip</a></li>
	</ul><!-- .files -->
	
	<form method="post" action="" class="upload">
		<p>Glisser vos documents ici pour les uploader ou utilisez le bouton ci-dessous</p>
		<button class="primary">Parcourir...</buttton>
	</form>
	
</div><!-- #right-panel -->
