<div id="right-panel" class="comments">
	<ng-include src="'views/right-panel-menu.html'"></ng-include>
	<h2>Commentaires</h2>
	
	<ul class="comments">
		<li><img src="/img/uploads/members/member-1-l.jpg" alt="Photo of Ellen Page" /><strong>Ellen Page - </strong> This a a comment<em>Le 3 novembre 2013</em></li>
		<li><img src="/img/uploads/members/member-3-l.jpg" alt="Photo of Ellen Page" /><strong>Ellen Page - </strong> This a a comment<em>Le 3 novembre 2013</em></li>
		<li><img src="/img/uploads/members/member-2-l.jpg" alt="Photo of Ellen Page" /><strong>Ellen Page - </strong> And this a long comment to see what happens when there are more than one line of text<em>Le 3 novembre 2013</em></li>
		<li><img src="/img/uploads/members/member-1-l.jpg" alt="Photo of Ellen Page" /><strong>Ellen Page - </strong> This a a comment<em>Le 3 novembre 2013</em></li>
		<li><img src="/img/uploads/members/member-2-l.jpg" alt="Photo of Ellen Page" /><strong>Ellen Page - </strong> This a a comment<em>Le 3 novembre 2013</em></li>
	</ul>
	
	<form method="post" action="">
		<input type="text" name="comment" placeholder="Ajouter un commentaire" />
		<input type="submit" name="send" value="OK" />
	</form>

</div><!-- #right-panel -->
