<div class="details">
  <h2>Détails de la carte</h2>
  <h3>Liste "FIXME"</h3>
  
  <fieldset>
    <button class="edit"><img src="/img/buttons/edit.png" alt="Edit" /></button>
    <div class="title">
      <button><img src="/img/fav_ico_black.png" alt="Favorite" /></button>
      <h4 editable-text="card.title" onaftersave="card.save()">{{ card.title }}</h4>
    </div>
    
    <div ng-show="card.completion >= 0" ng-switch="card.completion">
      <p ng-switch-when="100" class="done">Terminé</p>
      <p ng-switch-default class="percent">{{ card.completion }}%<progress value="{{ card.completion }}" max="100"></progress></p>
    </div>
    
    <p>{{ card.description }}</p>
    <p class="updated">Mise à jour le {{ card.modified_date|date:medium }} par <a href="">FIXME</a></p>
  </fieldset>
  
  <hr />
  
  <h5>Membres assignés</h5>
  <ul class="members">
    <li ng-repeat="user in card.assignees">
      <img avatar-src="user" avatar-size="36" alt="{{ user.username }}" />
    </li>
    <li>
      <button ng-click="showMemberMenu=!showMemberMenu"><img src="/img/buttons/member_add.png" alt="Add member" /></button>
      
      <!-- Members submenu -->
      <div class="menu m-with-title m-members" ng-show="showMemberMenu">
	<header>
	  <button ng-click="showMemberMenu = false" class="close"><img src="./img/menu_close.png" alt="Close" /></button>
	  <h5>Membres</h5>
	</header>
	<ng-include src="'views/fragments/member_menu.html'"></ng-include>
      </div>
    </li>
  </ul>
  
  <hr />
  
  <h5>Labels associés</h5>

  <ul class="labels">
    <li ng-repeat="label in card.labels">
      <a ng-class="'label label-{{$index}}'">{{ label.label }}</a>
    </li>
  </ul>
  <button ng-click="showLabelMenu=!showLabelMenu" class="label-add">Ajouter un label</button>

  <!-- Labels menu -->
  <div class="menu m-with-title" ng-show="showLabelMenu">
    <header>
      <button ng-click="showLabelMenu = false" class="close"><img src="./img/menu_close.png" alt="Close" /></button>
      <h5>Labels</h5>
    </header>
    <ng-include src="'views/fragments/labels_menu.html'"></ng-include>
  </div>
  
  <hr />
  
  <h5>Derniers fichiers</h5>
  <ul class="files">
    <li class="filetype-pdf"><a href="">Fichier1.pdf</a></li>
    <li class="filetype-doc"><a href="">Document2.doc</a></li>
  </ul>
  
  <hr />
  
  <!-- <button class="secondary">Autres options</button> -->
  <button ng-click="deleteCard()" class="secondary task-delete">Supprimer la carte</button>

</div><!-- #.details -->
