<div class="subtasks">
	<h2>Tâches</h2>

	<p class="percent">{{ card.tasks_done_count }} / {{ card.tasks.length }}<progress value="{{ card.tasks_done_count }}" max="{{ card.tasks.length }}"></progress></p>

	<button ng-click="showAddTask=!showAddTask" class="primary">Ajouter une Tâche</button>
	
	<form ng-show="showAddTask" class="task-add">
	  <fieldset>
	    <input type="text" ng-model="newTaskForm.title" name="subtask-title" placeholder="Titre de la tâche" />
	  </fieldset>
	  <fieldset>
	    <!--<button class="member-add"><img src="./img/buttons/member_add_small.png" alt="Add member" /></button><br />-->
	    <button ng-click="showAddTask=false" type="reset" name="cancel"><img src="./img/buttons/close_large.png" alt="Cancel" /></button>
	    <button ng-click="submitNewTask()" name="add_task"><img src="./img/buttons/save.png" alt="Add task" /></button>
	  </fieldset>
	</form>
	<hr />

	<ul>
	  <li ng-repeat="task in card.tasks">
	    <button class="edit"><img src="./img/buttons/edit.png" alt="Edit" /></button>
	    <fieldset>
	      <h5 editable-text="task.title" ng-class="{done: task.done}">{{ task.title }}</h5>
	      <!--
	      <ul class="members">
		<li><img src="./img/uploads/members/member-1-l.jpg" alt="Guillaume" /></li>
		<li><button class="member-add"><img src="./img/buttons/member_add_small.png" alt="Add member" /></button></li>
	      </ul>
	      -->
	      <p class="modified">
		<button ng-click="deleteTask(task)"><img alt="Supprimer" src="./img/buttons/close_large.png"></img></button>
		<button ng-show="!task.done" ng-click="markTaskDone(task, true)"><img alt="Rayer" src="./img/buttons/save.png"></img></button>
		<button ng-show="task.done" ng-click="markTaskDone(task, false)"><img alt="Réouvrir" src="./img/buttons/reopen.png"></img></button>
	      </p>
	    </fieldset>
	  </li>
	</ul>

</div><!-- #right-panel -->
