$list-title-color: #4b4b4b;
$list-title-background: #efefef;
$list-title-border-color: #e6e6e6;
$list-shadow-color: #999;
$list-add-background: #fff;

#lists {
	margin: 43px 0 0 167px;
	padding: 0 0 20px 0;
	white-space: nowrap;
}

ul.list {
	position: relative;
	display: inline-block;
	width: 294px;
	margin: 0 25px 20px 0;
	vertical-align: top;
	@include shadow-list-top;
	
	h3 {
		margin: 0;
		padding: 18px 19px 13px;
		font-size: 1.25em;
		line-height: 1em;
		font-weight: bold;
		color: $list-title-color;
		background-color: $list-title-background;
		border-bottom: 1px solid $list-title-border-color;
	}
	
	button.list-edit {
		position: absolute;
		top: 13px;
		right: 6px;
	}
	
}

form.add_list {
	width: 47px;
	padding: 5px;
	display: inline-block;
	background-color: $list-add-background;
	@include border-radius(4px);
	@include shadow;

	button {
		width: 37px;
		height: 37px;
		margin: 0;
		border: none;
		background-color: $list-add-background;
	}

}
