$menu-border: #d5d5d5;
$menu-edit-link: #4b4b4b;
$menu-edit-background: #fff;
$menu-edit-hover-text: #fff;
$menu-edit-hover-background: #7bbae7;
$menu-text-color: #818181;
$menu-title-background: #eaeaea;

.menu {
	width: 200px;
	padding: 10px;
	font-size: 1.1em;
	background-color: $menu-edit-background;
	border: 1px solid $menu-border;
	@include border-radius(5px);
	@include shadow;
	
	ul {
	
		li {
		
			a, button {
			
				display: block;
				width: 100%;
				font-size: 1em;
				padding: 7px;
				text-align: left;
				color: $menu-edit-link;
				text-decoration: none;
				@include border-radius(4px);
			
			}
			
			&.submenu a,
			&.submenu button {
				background:  url('/img/menu_arrow.png') 95% 50% no-repeat;
			}
			
			a:hover, button:hover {
				color: $menu-edit-hover-text;
				background-color: $menu-edit-hover-background;
			}
			&.submenu a:hover,
			&.submenu button:hover {
				background-image: url('/img/menu_arrow_hover.png');
			}
		
		}
	
	}
	ul.labels {
		padding: 10px;
		font-size: 0.85em;
	}
	
	button {
		outline: none;
	}
	button, button img {
		vertical-align: middle;
	}

	button.back, button.close {
	}
	button.back {
		float: left;
		border-right: 1px solid $menu-border;
	}
	button.close {
		float: right;
		text-align: center;
		border-left: 1px solid $menu-border;
	}
	button.select {
		margin: 10px;
		padding: 7px 10px;
		font-size: 1.05em;
		text-align: left;
		border: 1px solid $menu-border;
		@include border-radius(4px);
		@include shadow-subtle;
	}
	button.list {
		float: left;
		width: 150px;
	}
	button.position {
		float: right;
		width: 90px;
	}

	p.save {
		clear: both;
		margin: -10px 0 5px 0;
		text-align: right;
	
		button {
			margin-top: 5px;
		}
		button.edit-labels {
			float: left;
			margin: 10px 0 10px 12px;;
			font-size: 1em;
			color: $menu-text-color;
		}
	}
}

.list .menu {
	z-index: 10;
	position: absolute;
	top: 45px;
	left: 250px;
}

.m-with-title {
	padding: 0;
	font-size: 1.1em;
	background-color: $menu-edit-background;
	border: 1px solid $menu-border;
	@include border-radius(6px);
	@include shadow;
	
	h5 {
		color: $menu-text-color;
		text-align: center;
		background-color: $menu-title-background;
		border-bottom: 1px solid $menu-border;
		@include border-top-radius(6px);
	}
	
	header {
		h5, button {
			height: 2.8em;
			font-size: 1em;
			line-height: 2.8em;
		}
		button {
			padding: 3px 10px 0;
		}
	}
	
	ul {
		margin: 10px 0;
		li button {
			margin: 2% 2% 0 4%;
			width: 92%;
		}
	}
}

.m-move-to { width: 285px; }
.m-labels { width: 240px; }
.m-move-to-list { width: 150px; }
.m-move-to-position { width: 90px; }

.m-move-to-list, .m-move-to-position {
	@include shadow-subtle;
}

.m-labels {
	padding-bottom: 5px;
	ul.labels {
		margin: 0;
		li {
			width: 100%;
		}
		 input[type="checkbox"] {
		 	display: none;
		}
		input[type="checkbox"] + label {
			display: block;
			cursor: pointer;
			font-size: 1.1em;
			line-height: 1.5em;
			font-weight: 600;
			font-family: Raleway, sans-serif;
		}
		input[type="checkbox"]:checked + label {
			background-image: url('/img/label_selected.png');
			background-position: 96% 50%;
			background-repeat: no-repeat;
		}
	}
}
.m-members, .m-members-list {
	li {
		margin-bottom: 4px;
	}
	li button {
		width: 100%;
		text-align: left;
		&.selected {
			background: url('/img/member_selected.png') 95% 50% no-repeat;
		}
	}
	li button img {
		margin-right: 5px;
	}
}
.m-members {
	padding: 13px 10px;
	form {
		padding: 15px 10px;
		input[type=search] {
			width: 179px;
			padding: 6px 12px;
		}
	}
	ul {
		margin-bottom: 0;
		li {
			width: 100%;
		}
		 input[type="checkbox"] {
		 	display: none;
		}
		input[type="checkbox"] + label {
			display: block;
			cursor: pointer;
			font-size: 1em;
			font-weight: 600;
			font-family: Raleway, sans-serif;
			@include border-radius(4px);
			img {
				float: none;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		input[type="checkbox"]:checked + label {
			background: transparent url('/img/member_selected.png') 96% 50% no-repeat;
		}
		input[type="checkbox"] + label:hover {
			background-color: #f9f9f9;
		}
	}
}
.task:hover .m-members ul label {
	color: $menu-text-color;
}
.m-members-list {
	padding: 9px 7px 5px;
	li button {
		padding: 0;
		&.selected {
			background-position: 100% 50%;
		}
	}
}
.members-submenu {
	position: relative;
	padding-left: 8px;
	img.submenu {
		position: absolute;
		top: 25%;
		left: 0;
	}
}

.m-move-to {
	div {
		padding: 13px 10px 5px;
	}
	select {
		width: 58%;
		padding: 7px;
		font-size: 1em;
		font-weight: 300;
		background-color: #fff;
		background-image: none;
		border: 1px solid $menu-border;
		@include border-radius(5px);
		@include shadow-subtle;
	}
	select + select {
		width: 40%;
	}
	p.save {
		margin-top: 12px;
		button {
			width: 30px;
			padding: 0;
		}
	}
}
