$menu-border: #d5d5d5;
$menu-edit-link: #4b4b4b;
$menu-edit-background: #fff;
$menu-edit-hover-text: #fff;
$menu-edit-hover-background: #7bbae7;
$menu-text-color: #818181;
$menu-title-background: #eaeaea;

.menu {
	width: 200px;
	padding: 10px;
	font-size: 1.1em;
	background-color: $menu-edit-background;
	border: 1px solid $menu-border;
	@include border-radius(5px);
	@include shadow;
	
	ul {
	
		li {
		
			a, button {
			
				display: block;
				width: 100%;
				font-size: 1em;
				padding: 7px;
				text-align: left;
				color: $menu-edit-link;
				text-decoration: none;
				@include border-radius(4px);
			
			}
			
			&.submenu a {
				background:  url('/img/menu_arrow.png') 95% 50% no-repeat;
			}
			
			a:hover, button:hover {
				color: $menu-edit-hover-text;
				background-color: $menu-edit-hover-background;
			}
			&.submenu a:hover {
				background-image: url('/img/menu_arrow_hover.png');
			}
		
		}
	
	}
	
	button, button img {
		vertical-align: middle;
	}

	button.back, button.close {
	}
	button.back {
		float: left;
		border-right: 1px solid $menu-border;
	}
	button.close {
		float: right;
		text-align: center;
		border-left: 1px solid $menu-border;
	}
	button.select {
		margin: 10px;
		padding: 7px 10px;
		font-size: 1.05em;
		text-align: left;
		border: 1px solid $menu-border;
		@include border-radius(4px);
		@include shadow-subtle;
	}
	button.list {
		float: left;
		width: 150px;
	}
	button.position {
		float: right;
		width: 90px;
	}

	p.save {
		clear: both;
		margin-top: -10px;
		margin-bottom: 5px;
		text-align: right;
	
		button {
			margin-top: 5px;
		}
		button.edit-labels {
			float: left;
			margin-left: 15px;
			color: $menu-text-color;
			font-size: 1.05em;
		}
	}	
	ul.labels {
		padding: 10px;
		font-size: 0.85em;
	}
}

.list .menu {
	z-index: 10;
	position: absolute;
	top: 45px;
	right: -160px;
}

.m-with-title {
	padding: 0;
	font-size: 1.1em;
	background-color: $menu-edit-background;
	border: 1px solid $menu-border;
	@include border-radius(6px);
	@include shadow;
	
	h5 {
		color: $menu-text-color;
		text-align: center;
		background-color: $menu-title-background;
		border-bottom: 1px solid $menu-border;
		@include border-top-radius(6px);
	}
	
	header {
		h5, button {
			height: 3em;
			font-size: 1em;
			line-height: 3em;
		}
	}
	
	ul {
		margin: 10px 0;
		li button {
			margin: 2% 2% 0 4%;
			width: 92%;
		}
	}
}

.m-move-to {
	width: 285px;
}
.m-labels,
.m-members {
	width: 240px;
}

.m-move-to-list, .m-move-to-position {
	@include shadow-subtle;
}
.m-move-to-list {
	width: 150px;
}
.m-move-to-position {
	width: 90px;
}

.m-members, .m-members-list {
	li {
		margin-bottom: 4px;
	}
	li button {
		width: 100%;
		text-align: left;
		&.selected {
			background: url('/img/members-selected.png') 95% 50% no-repeat;
		}
	}
	li button img {
		margin-right: 5px;
	}
}
.m-members {
	form {
		padding: 15px 10px;
		input[type=search] {
			width: 179px;
			padding: 6px 12px;
		}
	}
}
.task:hover .m-members ul label {
	color: $menu-text-color;
}
.m-members-list {
	padding: 9px 7px 5px;
	li button {
		padding: 0;
		&.selected {
			background-position: 100% 50%;
		}
	}
}
.members-submenu {
	position: relative;
	padding-left: 8px;
	img.submenu {
		position: absolute;
		top: 25%;
		left: 0;
	}
}
