@import "panel-right-menu";

$h2-color: #5672ad;
$h3-color: #c1c1c1;
$text-color: #4b4b4b;
$updated-color: #c1c1c1;
$updated-author: #7bbae7;
$button-background-color: #efefef;
$button-border-color: #d5d5d5;
$form-background-color: #eaeaea;
$comment-color: #a7a7a7;
$comment-strong-color: #4b4b4b;
$comment-background-color: #efefef;
$input-border-color: #d5d5d5;
$files-border-color: #e6e6e6;
$files-hover-color: #efefef;

#right-panel {
	overflow-y: scroll;
	padding: 70px 28px 30px;
	
	h2 {
		padding: 28px 0 20px 38px;
		color: $h2-color;
		font-size: 1.5em;
		background-position: center left;
		background-repeat: no-repeat;
		
	}
	h3 {
		margin-bottom: 10px;
		color: $h3-color;
		font-size: 1.1em;
		font-style: italic;
	}
	h4 {
		margin: 0 0 10px;
	}
	h5 {
		margin-bottom: 10px;
		font-size: 1.1em;
		font-weight: bold;
	}
	fieldset {
		padding: 10px 0 10px;
	}
	p {
		margin-bottom: 10px;
		color: $text-color;
		font-size: 1.15em;
		line-height: 1.15em;
	}
	a {
		text-decoration: none;
	}
	
	ul.files {
	
		li {
			position: relative;
			display: block;
			border-top: 1px solid $files-border-color;
			vertical-align: middle;
			button {
				float: right;
				display: none;
			}
			&:hover {
				a {
					background-color: $files-hover-color;
				}
				button {
					display: inline-block;
				}
			}
		}
		a {
			display: block;
			padding: 5px 5px 5px 37px;
			color: $text-color;
			background-position: 3% 50%;
			background-repeat: no-repeat;
			line-height: 1.1em;
		}
		.filetype-pdf a { background-image: image-url('filetypes/filetype-pdf.png'); }
		.filetype-doc a { background-image: image-url('filetypes/filetype-doc.png'); }
	}

	div.details {
	
		h2 {background-image: image-url('background/sidebar-details.png') }
		h4 {
			font-size: 2em;
			font-weight: normal;
		}
		.edit {
			float: right;
		}
		.title h4, .title button {
			display: inline-block;
			vertical-align: top;
		}
		.title h4 {
			max-width: 260px;
			line-height: 1.2em;
		}
		form {
			margin-top: 19px;
		}
		fieldset:first-child {
			position: relative;
			padding: 0 40px 0 0;
			
			button.edit {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
			}
			
			&:hover button.edit {
				display: block;
			}
		}
		progress {
			margin-right: 20px;
		}
		p.updated {
			color: $updated-color;
			font-size: 1.05em;
			font-style: italic;
		
			a {
				color: $updated-author;
			}
		}
		ul.members button {
			width: 44px;
			height: 44px;
			padding: 6px;
			background-color: $button-background-color;
			border: 1px solid $button-border-color;
			@include border-radius(3px)
		}
		ul.labels {
			margin: 15px 0;
		}
		ul.labels a {
			width: 220px;
		}
		ul.files li {
			border: none;
			a {
				padding-right: 25px;
				line-height: 1em;
				background-position: 1% 50%;
			}
			&:hover a {
				background-color: transparent;
			}
		}
		button.label-add {
			padding: 0;
			font-weight: bold;
		}
		.task-delete {
			padding-right: 20px;
			padding-left: 50px;
			background: $button-secondary-background-color image-url('buttons/task_delete.png') 8% 50% no-repeat;
		}

	}

	div.subtasks {
		h2 { background-image: image-url('background/sidebar-subtasks.png') }
		h5 {
			margin-bottom: 4px;
			&.editable-click {
				color: inherit;
			}
		}
		h5.done {
			text-decoration: line-through;
		}
		form.task-add {
			fieldset + fieldset {
				text-align: right;
			}
		}
		li {
			position: relative;
			padding-right: 70px;
			padding: 5px 14px;
			@include border-radius(3px);
			
			button.member-add {
				float: left;
				width: 30px;
				height: 30px;
				padding: 5px 5px 1px 5px;
				background-color: $button-background-color;
				border: 1px solid $input-border-color;
			}
			
			&.task-add {
				button.member-add {
					float: none;
					margin-top: 2px;
					margin-bottom: 5px;
				}
				p.percent progress {
					margin-top: 10px;
				}
			}
			&:hover p.modified button {
				opacity: 1;
			}
		}
		li:nth-child(odd) {
			background-color: $form-background-color;
		}
		hr {
			margin-bottom: 5px;
		}
		fieldset {
			padding-bottom: 0;
			vertical-align: top;

			p:first-child {
				margin-bottom: 2px;
				font-weight: bold;
			}
			p:first-child + p {
				font-size: 0.85em;
			}
		}
		p.modified {
			margin: 1em 0 0.5em;
			font-size: 0.85em;
			font-style: italic;
			text-align: right;
			button {
				padding: 0;
				opacity: 0;
			}
		}
		button.edit {
			display: none;
			position: absolute;
			top: 0;
			right: -47px;
			padding: 10px 10px 40px;
		}
		form:hover button.edit {
			display: block;
		}
		p.percent {
			margin-top: 5px;
			padding: 0;
			text-align: right;
			progress {
				width: 160px;
				margin-top: 1px;
			}
			button {
				float: right;
			}
		}
		ul.members {
			margin-bottom: 10px;
		}
	}
	
	div.comments {
	
		h2 {
			margin-bottom: 0.75em;
			background: transparent image-url('background/sidebar-comments.png') 1% 60% no-repeat;
		 }
		ul.comments {
	
			li {
				position: relative;
				display: block;
				min-height: 50px;
				margin: 0 0 1px;
				padding: 9px 9px 4px 59px;
				color: $comment-color;
				background-color: $comment-background-color;
				line-height: 1.5em;
			
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
				strong {
					color: $comment-strong-color;
					font-weight: bold;
				}
				em {
					display: block;
					font-size: 0.9em;
					font-style: italic;
				}
			}
			
		}
		
		form {
			margin-top: 3px;
			input, button {
				display: inline-block;
				height: 45px;
				@include border-radius(2px);
			}
			input {
				width: 85%;
				margin-top: 1px;
				border: 1px solid $input-border-color;
				background-color: #fff;
			}
			button {
				float: right;
				margin-top: 1px;
				width: 14%;
				padding: 0;
				font-weight: bold;
			}
		}
	
	}
	
	div.attachments {
	
		form.upload {
			padding: 10%;
			text-align: center;
			font-size: 0.95em;
			line-height: 2em;
		}
		ul.photos li {
			display: inline-block;
		}
	
	}
	
}
