$percent-border-color: #d5d5d5;
$percent-background-color: #f7f7f7;
$percent-completion-background-color: #7bbae7;
$sidebar-percent-completion-background-color: #8cc657;

p.percent {
	margin-bottom: 12px;
	padding-right: 25px;
	font-size: 1.23em;
	font-style: normal;
	font-weight: normal;
	
	progress {
		float: left;
		height: 12px;
		width: 179px;
		border: 1px solid $percent-border-color;
		background-color: $percent-background-color;
		@include border-radius(6px);
		@include progress-bar($percent-completion-background-color);
	}
	progress[value] {
		@include border-radius(6px);
	}

}
.task p.percent {
	margin-top: 0;
	font-weight: normal;
	text-align: right;
}
#right-panel.details p.percent {
	margin-bottom: 19px;
	
	progress {
		margin-right: 20px;
	}
}
#right-panel.subtasks p.percent {
	span {
		width: 70%;
		margin-right: 10px;
	}
	span span {
		background-color: $sidebar-percent-completion-background-color;
	}
}
