$percent-border-color: #d5d5d5;
$percent-background-color: #f7f7f7;
$percent-completion-background-color: #7bbae7;
$sidebar-percent-completion-background-color: #8cc657;

p.percent {
	margin-bottom: 12px;
	padding-right: 25px;
	font-size: 1.23em;
	font-style: normal;
	font-weight: normal;
	
	progress {
		float: left;
		height: 12px;
		width: 179px;
	}
	progress[value] {

		/* Reset the default appearance */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border: 1px solid $percent-border-color;
		background-color: $percent-background-color;
		@include border-radius(6px);
		@include progress-bar($percent-completion-background-color);

	}
	
	/*
		Chrome issue: Styles need to be on their own,
		otherwise Chrome has styling issues...
	*/
	progress[value]::-webkit-progress-bar {
		@include border-radius(6px);
		background-color: $percent-background-color;
	}
	progress[value]::-webkit-progress-value {
		@include border-radius(6px);
		background-color: $percent-completion-background-color;
	}
	progress[value]::-moz-progress-bar { 
		@include border-radius(6px);
		background-color: $percent-completion-background-color;
	}

}
.task p.percent {
	margin-top: 0;
	font-weight: normal;
	text-align: right;
}
#right-panel.details p.percent {
	margin-bottom: 19px;
	
	progress {
		margin-right: 20px;
	}
}
#right-panel.subtasks p.percent {
	span {
		width: 70%;
		margin-right: 10px;
	}
	span span {
		background-color: $sidebar-percent-completion-background-color;
	}
}
