$list-title-color: #4b4b4b;
$list-title-background: #efefef;
$list-title-border-color: #e6e6e6;
$list-shadow-color: #999;

@mixin shadow {
	-webkit-box-shadow: 0 -15px 25px -20px $list-shadow-color;
	-moz-box-shadow: 0 -15px 25px -20px $list-shadow-color;
	box-shadow: 0 -15px 25px -20px $list-shadow-color;
}

#lists {
	margin: 103px 0 0 167px;
	padding: 43px 0 53px 107px;
	padding: 0;
}
.list {
	float: left;
	width: 294px;
	margin: 0 25px 20px 0;
	@include shadow;
}
.list h3 {
	padding: 18px 19px 13px;
	font-size: 1.25em;
	line-height: 1em;
	font-weight: bold;
	color: $list-title-color;
	background-color: $list-title-background;
	border-bottom: 1px solid $list-title-border-color;
}
