/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
	font-family:Raleway,sans-serif;
	font-size:12px;
	background:#f6f7f8;
	background: #f6f7f8 url('/img/background/img-noise-50x50.png') repeat;
}

* {
	@include box-sizing("border-box");
}

button {
	cursor:pointer;
	font-family: Raleway,sans-serif;
}
hr {
	clear: left;
	border: none;
	height: 2px;
	margin: 15px 0;
	line-height: 2px;
	background: transparent url('/img/border.png') top left repeat-x;
}

/* ============= TOOLBAR ============= */

#toolbar {
	height:100%;
	min-height:540px;
	position:fixed;
	top:0;
	left:0;
	width:60px;
	background:rgba(22,23,25,0.95);
	z-index:10;

	> ul > li > button {
		display:block;
		height:60px;
		width:60px;
		color:#eee;
		border:0;
		border-top:1px solid #2e2f30;
		border-bottom:1px solid black;
		font-size:0.8rem;
		outline:0 !important;
		text-indent:-9999em;
		cursor:pointer;
	}

	li:first-child button { border-top: 0 }
	li:last-child button { border-bottom: 0 }

	li.open button { 
		background:image-url('toolbar/depli_ico.png') no-repeat center center;
	}

	li.filters button { 
		background:image-url('toolbar/filters_ico.png') no-repeat center center;
	}

	li.boards button { 
		background:image-url('toolbar/boards_ico.png') no-repeat center center;
	}

	li.search button { 
		background:image-url('toolbar/search_ico.png') no-repeat center center;
	}

	li.settings button { 
		background:image-url('toolbar/settings_ico.png') no-repeat center center;
	}

	li.connected {
		position:absolute;
		bottom:0;
		height:28px;
		text-align:center;
		width:100%;

		a {
			display:block;
			width:100%;
			height:28px;
			outline:0;
		}

		img {
			display:inline;
			position:relative;
			top:4px;
		}
	}
}

// Labels

.labels-list {
	li {
		display:block;
		float:left;
		background:#efefef;
		height:28px;
		line-height:28px;
		border:1px solid #d5d5d5;
		margin:0 4px 4px 0;
		@include border-radius(5px);
	}

	span {
		font-weight:700;
		color:#5672ad;
		font-size:0.65rem;
		font-style:italic;
		padding:0 10px;
		line-height:28px;
		display:block;
		float:left;
	}

	button {
		height:26px;
		width:28px;
		border:0;
		border-left:1px solid #d5d5d5;
		text-indent:-9999rem;
		background:image-url('cross.png') no-repeat center center;
	}
}

// Topbar

#topbar {
	height:60px;
	width:100%;
	background:#efefef;

	#search-block {
		float:left;

		input[type="text"] {
			height:33px;
			width:236px;
			padding:0 13px;
			border:1px solid #d5d5d5;
			color:#666;
			font-style:italic;
			font-size:0.75rem;
			margin:14px 0 0 108px;
			@include border-radius(16px);
		}

		#search-bt {
			border:0;
			height:36px;
			width:36px;
			text-indent:-9999em;
			margin:0 0 0 6px;
			background:image-url('topbar/search_ico.png');
		}

		#label-bt {
			border:0;
			height:36px;
			width:36px;
			text-indent:-9999em;
			margin:0 0 0 6px;
			background:image-url('topbar/label_ico.png');
		}
	}

	.actions {
		float:right;

		button.action {
			height:40px;
			width:40px;
			border:0;
			text-indent:-9999rem;
			margin:10px 12px 0 0;
			float:left;
		}

		button.del {
			background:image-url('topbar/del_ico.png') no-repeat center center;
		}

		button.tools {
			background:image-url('topbar/tools_ico.png') no-repeat center center;
		}

		button.fav {
			background:image-url('topbar/fav_ico.png') no-repeat center center;
		}
	}

	#display-mode {
		float:left;
		margin:16px;

		button {
			width:28px;
			height:28px;
			background-color:#ffffff;
			border:1px solid #d5d5d5;
			text-indent:-9999rem;
			margin:0;
			float:left;

			&.active {
				background-color:#4b4b4b;
			}
		}

		#display1-bt {
			background-image:image-url('topbar/display1_ico.png');
			background-repeat:no-repeat;
			background-position:center center;
			@include border-radius(4px 0 0 4px);
		}

		#display2-bt {
			border-left:0;
			background-image:image-url('topbar/display2_ico.png');
			background-repeat:no-repeat;
			background-position:center center;
			@include border-radius(0 4px 4px 0);
		}
	}
}

#current-labels {
	padding:0 0 0 52px;
	margin:20px 0;
	float:left;
	width:100%;
	background:image-url('labels_ico.png') no-repeat 20px center;

	.erase-all {
		background:none;
		border:0;
		border-left:1px solid #bdbdbd;
		padding-left:6px;
		font-size:0.65rem;
		height:21px;
		display:block;
		float:left;
		line-height:21px;
		color:#bdbdbd;
		font-weight:700;
		margin:4px 0 0 8px;
	}
}

// Left Panel //

#left-panel {
	width:250px;
	height:100%;
	position:fixed;
	top:0;
	left:60px;
	background:white;
	z-index:3000;
	@include box-shadow(2px 0 3px #DDDDDD);
}

// Right Panel //

#right-panel {
	width:440px;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	background:white;
	z-index:3000;
	@include box-shadow(-2px 0 3px #DDDDDD);
}

@import "base";
@import "forms";
@import "labels";
@import "topbar";
@import "members";
@import "panel-left";
@import "panel-right";
@import "percent";
@import "lists";
@import "tasks";
@import "tooltip";
